<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d [%t] %p %c - %msg%n%ex}{INFO=normal}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.palantir.dialogue.core.TimingEndpointChannel" level="warn"/>
        <Logger name="com.palantir.dialogue.blocking.BlockingChannelAdapter" level="warn"/>
        <Logger name="com.palantir.dialogue.core.RetryingChannel" level="warn"/>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>